<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <h1>FaB</h1>
                    </div>

                    <div class="card card-primary" *ngIf="!showMessage">
                        <div class="card-header">
                            <h4>Forgot Password</h4>
                        </div>

                        <div class="card-body">
                            <p class="text-muted">We will send a link to reset your password</p>
                            <form [formGroup]="fogotForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="email">Email<span class="red_c">*</span></label>
                                    <input id="email" formControlName="email" type="email" class="form-control"
                                        name="email">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback-custom">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Forgot Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card card-primary mb-2" *ngIf="showMessage">
                        <div class="card-header">
                            <h4>We have sent you a link to reset your password. Please check your mail box.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<app-loader [loading]="this.loading"></app-loader>