content {
    display: flex;
    justify-content: center;
    width: 90vw;
    background-color: beige;
}

#divManage {
    background-color: #EEE;
    /* width: 600px; */
}

.spacer {
    width: 40px;
}

#divCards {
    /* width: 400px; */
    display: flex;
    justify-content: center;
}

mat-tab-group {
    display: flex;
    width: 100vw;
}