<div id="app">
    <div class="main-wrapper container">
        <div class="navbar-bg"></div>

        <app-header></app-header>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
         
                <h2 class="section-title"> {{name}} Cards</h2>

                <div id="main-deck" class="card-container deck-container custom-box-border text-center">

                    <div class="card" [id]="'deck_'+card.card_id" *ngFor="let card of deck_cards; let i = index">
                        <article class="article article-style-b">
                            <div class="article-header">
                                <div class="article-image" [style.background-image]="'url(' +card.image_url + ')'">
                                </div>
                            </div>
                            <div class="article-details">
                                <div class="article-title">
                                    <h6 class="mt-1 verflow-protector">
                                        <div class="badge badge-warning mr-1">{{card.pitch}}</div>
                                        <div *ngIf="card.type == 'Hero - Adult' || card.type == 'Hero - Young'"
                                            class="badge badge-success mr-1">{{card.type}}</div>
                                        {{card.name}}
                                    </h6>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>

<app-loader [loading]="this.loading"></app-loader>