<div id="app">
    <div class="main-wrapper container">
        <div class="navbar-bg"></div>

        <app-header></app-header>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">

                <div cdkDropListGroup>
                    <div class="example-container">
                        <h2>To do</h2>
                        <div cdkDropList [cdkDropListData]="todo" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                        </div>
                    </div>

                    <div class="example-container">
                        <h2>Done</h2>

                        <div cdkDropList [cdkDropListData]="done" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                        </div>
                    </div>
                </div>

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                        <li data-target="#multi-item-example" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item" [class]="i == 0 ? 'active' : ''"
                            *ngFor="let deck of decks; let i=index">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"
                                    *ngFor="let card of deck.cards; let i=index">
                                    <div class="card" draggable="true">
                                        <article class="article article-style-b">
                                            <div class="article-header">
                                                <div class="article-image"
                                                    data-background="../assets/img/news/img13.jpg">
                                                </div>
                                            </div>
                                            <div class="article-details">
                                                <div class="article-title">
                                                    <h2><a href="#">{{card.name}}</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" *ngFor="let deck of decks[0].cards; let i=index">
                                    <div class="card" draggable="true">
                                        <article class="article article-style-b">
                                            <div class="article-header">
                                                <div class="article-image"
                                                    data-background="../assets/img/news/img13.jpg">
                                                </div>
                                            </div>
                                            <div class="article-details">
                                                <div class="article-title">
                                                    <h2><a href="#">{{deck.name}}</a>
                                                    </h2>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <a class="btn-floating carousel-control-prev" href="#multi-item-example" role="button"
                        data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="btn-floating carousel-control-next" href="#multi-item-example" role="button"
                        data-slide="next"><i class="fa fa-chevron-right"></i></a>

                </div>


                <div class="card-container">
                    <div class="card" draggable="true" *ngFor="let card of cards">
                        <article class="article article-style-b">
                            <div class="article-header">
                                <div class="article-image" data-background="../assets/img/news/img13.jpg">
                                </div>
                            </div>
                            <div class="article-details">
                                <div class="article-title">
                                    <h2><a href="#">{{card.name}}</a>
                                    </h2>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>


            </section>

        </div>
    </div>
</div>