<!-- <mat-card *ngFor="let card of cards" class="example-card columns"> -->
<mat-expansion-panel *ngFor="let card of cards; let i=index;">
    <mat-expansion-panel-header> <b>{{card.name}} (id:{{card.id}})</b>
    </mat-expansion-panel-header>

  <mat-card class="example-card columns">
    <mat-card-header>
      <div mat-card-avatar class="header-image-{{ card.type.toLowerCase() }}"></div>
      <mat-card-title>
            <label for="name">{{card.name}} {{card.id}}</label>
            <!-- <input id="name" [(ngModel)]="card.name" placeholder="name"> -->
            <mat-card-subtitle>{{card.type}}</mat-card-subtitle>
      </mat-card-title>
    </mat-card-header>
  <mat-card-content>
      <img mat-card-image src="{{card.pic}}" alt="card.pic">
      <p>name: {{card.name}}</p>
      <p>id: {{card.id}}</p>
      <p>type: {{card.type}}</p>
      <p>class: {{card.class}}</p>
      <p>set: {{card.set}}</p>
      <p>rarity: {{card.rarity}}</p>
      
      <p>cost: {{card.cost}}</p>
      <p>pic: {{card.pic}}</p>
      <p>tags: {{card.tags}}</p>
      
      <p>attack: {{card.attack}}</p>
      <p>bonus_attack: {{card.bonus_attack}}</p>
      <p>block: {{card.block}}</p>
      <p>bonus_block: {{card.bonus_block}}</p>
      <p>pitch: {{card.pitch}}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>

</mat-expansion-panel>

