.card-container {
    overflow-x: scroll;
    display: flex;
    padding: 3rem;
}

.card {
   min-width: 250px;
    height: 350px;
    border-radius: 16px;
    background-color: #eeeded;
    box-shadow: -1rem 0 3rem #c0c0c0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: 0.2s;
}

.card .article-title {
    font-size: 20px;
    font-weight: 700;
}

.card .article-header {
    margin-bottom: auto;
}

.card .author {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 75px 1fr;
}

.card:not(:first-child) {
    margin-left: -90px;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card{
    transform: translateX(130px);
}



.article, .article-details {
    background-color: #eeeded;
    box-shadow:none;
    padding: 0;
}

.article .article-header .article-image {
    background-color: transparent;
    background-size: contain;
}

.article .article-header {
    height: 280px;
}
















