<div id="app">
    <div class="main-wrapper container">
        <div class="navbar-bg"></div>

        <app-header></app-header>
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="row">
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label class="custom-switch mt-2">
                                <input type="checkbox" [(ngModel)]="isPublic" name="custom-switch-checkbox"
                                    class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                                <span class="custom-switch-description">Set Deck as Public</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <input placeholder="Deck Name" [(ngModel)]="name" id="name" type="text"
                            [class]="!name_required ? 'form-control' : 'error-custom form-control'">
                        <div *ngIf="name_required" class="invalid-feedback-custom">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group col-xs-12 col-sm-12 col-md-4 col-lg-4 text-right">
                        <button type="submit" class="btn btn-primary" (click)="saveDeck()">
                            {{isAddMode == true ? 'Add' : 'Save'}}
                        </button>
                    </div>
                </div>

                <div cdkDropListGroup>
                    <div id="hero-card" cdkDropList [(cdkDropListData)]="hero_card"
                        (cdkDropListDropped)="dropHero($event)"
                        class="hero-container custom-box-border text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card" [id]="'hero_'+card.card_id" *ngFor="let card of hero_card; let i = index">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" [style.background-image]="'url(' +card.image_url + ')'">
                                    </div>
                                </div>
                                <div class="article-details">
                                    <div class="article-title">
                                        <h6 class="mt-1 verflow-protector">
                                            <div class="badge badge-warning mr-1">{{card.pitch}}</div>
                                            <div *ngIf="card.type == 'Hero - Adult' || card.type == 'Hero - Young'"
                                                class="badge badge-success mr-1">{{card.type}}</div>
                                            {{card.name}}

                                        </h6>
                                        <button title="Remove Card" (click)="removeHeroItem()"
                                            class="btn btn-icon btn-sm btn-danger mt-1" tabindex="0">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <h2 *ngIf="hero_card?.length < 1">Drop Hero Card here</h2>

                    </div>
                    
                    <h2 class="section-title  pt-2 pb-2">Deck Cards</h2>

                    <div id="main-deck" cdkDropList [(cdkDropListData)]="deck_cards" (cdkDropListDropped)="drop($event)"
                        (cdkDragExited)="exited($event)"
                        class="card-container deck-container custom-box-border text-center">

                        <div class="card" [id]="'deck_'+card.card_id" *ngFor="let card of deck_cards; let i = index">
                            <article class="article article-style-b">
                                <div class="article-header">
                                    <div class="article-image" [style.background-image]="'url(' +card.image_url + ')'">
                                    </div>
                                </div>
                                <div class="article-details">
                                    <div class="article-title">
                                        <h6 class="mt-1 verflow-protector">
                                            <div class="badge badge-warning mr-1">{{card.pitch}}</div>
                                            <div *ngIf="card.type == 'Hero - Adult' || card.type == 'Hero - Young'"
                                                class="badge badge-success mr-1">{{card.type}}</div>
                                            {{card.name}}

                                        </h6>
                                        <button title="Remove Card" (click)="removeItem(i, card.card_id)"
                                            class="btn btn-icon btn-sm btn-danger mt-1" tabindex="0">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <h2 *ngIf="deck_cards?.length < 1">Drop Card here</h2>

                    </div>

                    <h2 class="section-title  pt-2 pb-2">All Cards</h2>

                    <div id="card-deck" cdkDropList [cdkDropListData]="cards"
                        class="card-container all-card-container custom-box-border">

                        <div class="card" [id]="card.card_id" *ngFor="let card of cards; let i = index" cdkDrag>
                            <article class="article article-style-b text-center">
                                <div class="article-header">
                                    <div class="article-image" [style.background-image]="'url(' +card.image_url + ')'">
                                    </div>
                                </div>
                                <div class="article-details">
                                    <div class="article-title">
                                        <h6 class="mt-1 verflow-protector">
                                            <div class="badge badge-warning mr-1">{{card.pitch}}</div>
                                            <div *ngIf="card.type == 'Hero - Adult' || card.type == 'Hero - Young'"
                                                class="badge badge-success mr-1">{{card.type}}</div>
                                            {{card.name}}
                                        </h6>
                                    </div>
                                    <button title="Add Card" (click)="addItem(i, card.card_id)"
                                        class="btn btn-icon btn-sm btn-success mt-1"><i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<app-loader [loading]="this.loading"></app-loader>