input, option { 
    height: 30px;
    font-size: 20px;
    
}

div {
    width: 500px;
    padding-top: 8px;
    display: grid;
}

.spacer {
    height: 30px;
}

.card-inputForm {
    /* display: flex; */
    justify-content: center;
    margin-top: 8px;
    padding: 8px;
    /* align-content: center; */
}

/* .columns {
    display: flex;
    gap: 3em;
} */

/* .columns > * { width: 50%; } */


.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}
  
  
  .example-card {
    max-width: 400px;
  }

  mat-card {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: beige;
  }
  mat-card-header {
    background-color: #DDD;
    color: #0F0;
    padding: 10px;
    height: 42px;
    margin-bottom: 16px;
  }
  mat-card-content {
    background-color: rgb(96, 73, 221);
    color: #FFF;
    padding: 10px;
  }
  
  mat-card-subtitle {
    padding-top: 8px;
    text-align: left;
  }
  img {
    max-width: 370px;
  }
  
  label {
    color: #000;
  }

  
.header-image-weapon {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_M1CmshiAYk_y5Xdu74-irKHseJJ901YY4g&usqp=CAU');
    background-size: cover;
    width: 50px;
    max-width: 50px;
  }
  
  .header-image-hero {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTogDr1PK7lvB42ky0Q486m2_fX2QYGif5jFQ&usqp=CAU');
    background-size: cover;
  }
  
  .header-image-token {
    background-image: url('https://cdn1.iconfinder.com/data/icons/video-game-lineal/32/coin-token-currency-512.png');
    background-size: cover;
  }
  
  .header-image-equipment {
    background-image: url('http://cdn.onlinewebfonts.com/svg/img_370112.png');
    background-size: cover;
  }
  
  .header-image-attack {
    background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/attack-1560934-1322716.png');
    background-size: cover;
  }
  
  