input, option { 
    height: 30px;
    font-size: 20px;
    
}

div {
    width: 600px;
    padding-top: 8px;
    display: grid;
}

.spacer {
    height: 30px;
}

.card-inputForm {
    /* display: flex; */
    justify-content: center;
    margin-top: 8px;
    padding: 8px;
    /* align-content: center; */
}

/* .columns {
    display: flex;
    gap: 3em;
} */

.columns > * { width: 50%; }


.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}
  
