<!-- <p>Manage This</p> -->
<div class="card-inputForm">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label for="name">Name: (ID={{card.id}})</mat-label>
            <input matInput id="name" [(ngModel)]="card.name" placeholder="name">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Class: {{selectedClass}}</mat-label>
            <mat-select id="class" [(ngModel)]="card.class" [(value)]="selectedClass" >
                <mat-option *ngFor="let option of classValues" value={{option}}>
                    {{option}}
                </mat-option>
            </mat-select>    
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label for="type">Type: </mat-label>
            <input matInput id="type" [(ngModel)]="card.type" placeholder="type">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label for="set">Set: </mat-label>
            <input matInput id="set" [(ngModel)]="card.set" placeholder="set">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Rarity: {{selectedRarity}}</mat-label>
            <mat-select multiple id="class" [(ngModel)]="card.rarity" [(value)]="selectedRarity">
                <mat-option *ngFor="let option of rarityValues" value={{option}}>
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="spacer">&nbsp;</div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label for="pic">Pic URL: </mat-label>
            <input matInput id="pic" [(ngModel)]="card.pic" placeholder="https://mypic.io/ree.jpg">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label for="tags">Tags: </mat-label>
            <mat-chip-list [(ngModel)]="card.tags" #chipList>
                <mat-chip *ngFor="let tag of card.tags" [removable]="removable" (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input id="tags" placeholder="Add new tags/keywords"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>     
        </mat-form-field>
    </div>

    <div class="spacer">&nbsp;</div>

    <div  style="width: 400px; display: flex;">
        <mat-form-field class="example-full-width">
            <mat-label>Pitch: {{card.pitch}}</mat-label>
            <mat-select id="pitch" [(ngModel)]="card.pitch">
                <mat-option *ngFor="let option of pitchValues" value={{option}}>
                    {{option}}
                </mat-option>
            </mat-select>    
        </mat-form-field>
        <div class="spacer">&nbsp;</div>
        <mat-form-field class="example-full-width">
                <mat-label for="cost">Cost: </mat-label>
                <input matInput id="cost" [(ngModel)]="card.cost" placeholder="cost">
        </mat-form-field>
    </div>

    <div class="spacer">&nbsp;</div>

    <div style="width: 400px; display: flex;">
        <div style="width:80px;">
            <mat-form-field class="example-full-width">
                <mat-label for="attack">Attack: </mat-label>
            <input matInput id="attack" [(ngModel)]="card.attack" placeholder="Attack">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label for="bonus_attack">Bonus Attack: </mat-label>
                <input matInput id="bonus_attack" [(ngModel)]="card.bonus_attack" placeholder="Bonus Attack">
            </mat-form-field>
        </div>
        <div class="spacer">&nbsp;</div>
        <div style="width:80px;">
            <mat-form-field class="example-full-width">
                <mat-label for="block">Block: </mat-label>
                <input matInput id="block" [(ngModel)]="card.block" placeholder="Block">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label for="bonus_block">Bonus Block: </mat-label>
                <input matInput id="bonus_block" [(ngModel)]="card.bonus_block" placeholder="Bonus Block" type="number">
            </mat-form-field>
        </div>
    </div>
</div>
